<!-- <h1>homepage</h1>
<a href="/login">Login</a>
<a href="/register">Register</a> -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reminds</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="landing">
        <ul class="nav justify-content-end nav-pills">
            <li class="nav-item">
              <a class="nav-link text-light" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/register">Get Started</a>
            </li>
        </ul>
        <div class="content text-center text-uppercase text-light">
            <div class="heading">
                <h4>Reminds</h4>
                <h1>Welcome to our website</h1>
            </div>
            <div class="options">
                <div class="register-layout">
                    <a type="button" class="btn btn-light" href="/register">Get Started</a> 
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>