ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
}

li {
    width: 60%;
}

.button {
    display: flex;
    justify-content: end;
    width: 60%;
    margin-top: 2rem;
}